<h1>Find Sightings by Species</h1>

<h3>Click the species below to see sightings in your area.</h3>

<ul>
  <% @species.each do |animal| %>
    <li><%= animal.name %></li>
  <% end %>
</ul>

<h3>Enter a new sighting:</h3

<form action="/sightings" method="post">
  <label for="contact_name">Name</label>
  <input id="contact_name" name="name" type="text">
  <label for="contact_phone">Phone</label>
  <input id="contact_phone" name="phone" type="text">
  <label for="contact_email">Email</label>
  <input id="contact_email" name="email" type="text">
  <button>Create Contact</button>
</form>
